.svn/
/Output/
/pkg/
/tmp/*
/db/*.yml
/db/backup/*
/db/development/*
/db/production/*
/nbproject
/updates/
/web/
/resources/models/
/resources/xrc/zip.exe
Migrate
/log/paperclip.log
Recover
Rakefile
attestazione.au3
attestazione.exe
init.rb
/*.sql
/paperclip.*
paperclip_server.*
paperclip2.*
paperclip2_server.*
porting
test.rb
wxbra.exe.manifest
win192
dist/*
