.svn/
/Output/
/pkg/
/tmp/*.html
/tmp/*.pdf
/db/*.yml
/db/backup/*
/db/development/*
/db/production/*
/nbproject
/updates/
/web/
/resources/models/
Migrate
Recover
Rakefile
attestazione.au3
attestazione.exe
init.rb
/*.txt
/*.sql
/paperclip.*
/log/paperclip.log
paperclip_server.*
paperclip2.*
paperclip2_server.*
porting
test.rb
wxbra.exe.manifest
win192
