<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bilancio Partitario</title>

    <!-- CSS relative to tmp -->
    <link href="../resources/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/stylesheets/custom.css" rel="stylesheet">
    <script src="../resources/javascripts/jquery-min.js"></script>
    <script src="../resources/javascripts/common.js"></script>
    <script>
      var page = new Page();
      $(document).ready(function () {
        page.numbered();
        //page.headerRepeat();
      });
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4 offset8 right">
          <small>
            <%= dati_azienda.denominazione %> <span>pag. </span><span id="page"></span>/<span id="page-count"></span>
          </small>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6 offset3">
          <p class="center">
            <strong><%= "Report Partitario Bilancio #{filtro.pdc.descrizione} (#{filtro.pdc.codice}) " %></strong><br /><br />
          </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <table id="head" class="table table-head table-bordered table-condensed">
            <thead>
              <tr>
                <th style="width: 10%;" class="left">Data</th>
                <th style="width: 30%;" class="left">Descrizione</th>
                <th style="width: 10%;" class="left">Conto</th>
                <th style="width: 30%;" class="left">Descrizione conto</th>
                <th style="width: 10%;" class="right">Dare</th>
                <th style="width: 10%;" class="right">Avere</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
