<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dettaglio Clienti Fornitori</title>
    <!-- CSS relative to tmp -->
    <link href="../resources/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../resources/stylesheets/custom.css" rel="stylesheet" />
    <script src="../resources/javascripts/jquery-min.js"></script>
    <script src="../resources/javascripts/common.js"></script>
    <script>
      var page = new Page();
      $(document).ready(function () {
        page.footerOnLastPage();
      });
    </script>
  </head>
  <body>
    <div class="container">
      <hr />
      <div id="segue" class="segue12">
        <div class="row">
          <p class="pull-right">
            <em>SEGUE...</em>
          </p>
        </div>
      </div>
      <div id="totali">
        <div class="row">
          <div class="span6">
            <table class="table table-condensed" id="riepilogo">
              <tbody>
                <tr>
                  <td style="width: 70%" class="left">TOTALE CLIENTI:</td>
                  <td style="width: 30%" class="right"><%= Helpers::ApplicationHelper.currency(self.totale_clienti) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="span6 pull-right">
            <table class="table table-condensed" id="riepilogo">
              <tbody>
                <tr>
                  <td style="width: 70%" class="left">TOTALE FORNITORI:</td>
                  <td style="width: 30%" class="right"><%= Helpers::ApplicationHelper.currency(self.totale_fornitori) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
